* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

form input[type='text'] {
  padding: 8px;
  border-radius: 30px;
  outline: none;
}

.mainContent {
  margin: 0 auto;
}

.mainContent .imageWrapper {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.mainContent .imageWrapper h2 {
  padding-left: 1rem;
  font-size: 14px;
}

.mainContent .imageWrapper img {
  width: 100px;
  border-radius: 50%;
}
